* {
	font-family:
		Open Sans,
		serif !important;
}

:root {
	--sparta-components-colors-main-primary: #2196f3;
	--sparta-components-colors-main-light: #64b5f6;
	--sparta-components-colors-main-dark: #1976d2;
	--sparta-components-colors-main-darker: #134980;
	--sparta-components-colors-neutral-dark_00: #fff;
	--sparta-components-colors-neutral-dark_10: #e6e6e6;
	--sparta-components-colors-neutral-dark_35: #a7a7a7;
	--sparta-components-colors-neutral-dark_45: #808080;
	--sparta-components-colors-neutral-dark_95: #151515;
	--sparta-components-colors-neutral-dark_100: #000;
	--sparta-components-colors-neutral_blue-dark_20: #bcbce5;
	--sparta-components-colors-neutral_blue-dark_35: #8686a7;
	--sparta-components-colors-neutral_blue-dark_45: #666680;
	--sparta-components-colors-neutral_blue-dark_70: #3e3e4d;
	--sparta-components-colors-neutral_blue-dark_73: #373a4d;
	--sparta-components-colors-neutral_blue-dark_75: #303343;
	--sparta-components-colors-neutral_blue-dark_77: #2c2f3a;
	--sparta-components-colors-neutral_blue-dark_79: #252831;
	--sparta-components-colors-neutral_blue-dark_80: #232530;
	--sparta-components-colors-neutral_blue-dark_82: #1f222a;
	--sparta-components-colors-neutral_blue-dark_85: #1e202a;
	--sparta-components-colors-neutral_blue-dark_87: #1e1e25;
	--sparta-components-colors-neutral_blue-dark_90: #171b26;
	--sparta-components-colors-neutral_blue-dark_95: #111115;
	--sparta-components-colors-blue_dark-dark_01: #04048c;
	--sparta-components-colors-blue_dark-dark_02: #080878;
	--sparta-components-colors-blue_dark-dark_03: #030355;
	--sparta-components-colors-blue_dark-dark_04: #040a2b;
	--sparta-components-colors-blue_dark-dark_05: #01011d;
	--sparta-components-colors-blue_light-light_01: #3a3ad8;
	--sparta-components-colors-blue_light-light_02: #526ce0;
	--sparta-components-colors-blue_light-light_03: #6b99e6;
	--sparta-components-colors-blue_light-light_04: #84beec;
	--sparta-components-colors-blue_light-light_05: #b9f2f6;
	--sparta-components-colors-feedback_success-principal: #32b96c;
	--sparta-components-colors-feedback_success-bright: #20dd71;
	--sparta-components-colors-feedback_success-light: #5bc789;
	--sparta-components-colors-feedback_success-dark_01: #249855;
	--sparta-components-colors-feedback_success-medium: #249855;
	--sparta-components-colors-feedback_success-dark: #23814b;
	--sparta-components-colors-feedback_success-dark_02: #166638;
	--sparta-components-colors-feedback_success-shaded: #166638;
	--sparta-components-colors-feedback_success-darker: #1f3b2b;
	--sparta-components-colors-feedback_warning-principal: #fbe204;
	--sparta-components-colors-feedback_warning-light: #fff7ae;
	--sparta-components-colors-feedback_warning-dark: #fbc504;
	--sparta-components-colors-feedback_warning-darker: #c5cd1f;
	--sparta-components-colors-feedback_alert-principal: #fb7b04;
	--sparta-components-colors-feedback_alert-light: #fb9536;
	--sparta-components-colors-feedback_alert-dark: #af5602;
	--sparta-components-colors-feedback_error-principal: #ff3c3c;
	--sparta-components-colors-feedback_error-light: #ff6363;
	--sparta-components-colors-feedback_error-dark: #b22a2a;
	--sparta-components-colors-feedback_error-darker: #402323;
	--sparta-components-colors-graph-1-principal: #0079e9;
	--sparta-components-colors-graph-1-light: #77a8d6;
	--sparta-components-colors-graph-1-dark: #4b6d8d;
	--sparta-components-colors-graph-1-greyish: #4b6d8d;
	--sparta-components-colors-graph-1-darker: #165c9d;
	--sparta-components-colors-graph-2-principal: #d32c2c;
	--sparta-components-colors-graph-2-light: #f59f9f;
	--sparta-components-colors-graph-2-dark: #986666;
	--sparta-components-colors-graph-2-greyish: #986666;
	--sparta-components-colors-graph-2-darker: #802c2c;
	--sparta-components-colors-graph-3-principal: #53c151;
	--sparta-components-colors-graph-3-light: #abe3aa;
	--sparta-components-colors-graph-3-dark: #5c805b;
	--sparta-components-colors-graph-3-greyish: #5c805b;
	--sparta-components-colors-graph-3-darker: #0c5f0a;
	--sparta-components-colors-graph-4-principal: #9d20c9;
	--sparta-components-colors-graph-4-light: #c376de;
	--sparta-components-colors-graph-4-dark: #886594;
	--sparta-components-colors-graph-4-greyish: #886594;
	--sparta-components-colors-graph-4-darker: #5e007f;
	--sparta-components-colors-graph-5-principal: #d4c217;
	--sparta-components-colors-graph-5-light: #dbd6a6;
	--sparta-components-colors-graph-5-dark: #96926a;
	--sparta-components-colors-graph-5-greyish: #96926a;
	--sparta-components-colors-graph-5-darker: #70660b;
	--sparta-components-colors-graph-6-principal: #b6b6b6;
	--sparta-components-colors-graph-6-light: #f6f6f6;
	--sparta-components-colors-graph-6-dark: #7f7f7f;
	--sparta-components-colors-graph-6-greyish: #7f7f7f;
	--sparta-components-colors-graph-6-darker: #404040;
	--sparta-components-colors-graph-7-principal: #dc9100;
	--sparta-components-colors-graph-7-light: #f9d182;
	--sparta-components-colors-graph-7-dark: #86724e;
	--sparta-components-colors-graph-7-greyish: #86724e;
	--sparta-components-colors-graph-7-darker: #764e00;
	--sparta-components-colors-graph-8-principal: #38dbbd;
	--sparta-components-colors-graph-8-light: #9ae3d5;
	--sparta-components-colors-graph-8-dark: #557c75;
	--sparta-components-colors-graph-8-greyish: #557c75;
	--sparta-components-colors-graph-8-darker: #00705b;
	--sparta-components-colors-graph-9-principal: #e833aa;
	--sparta-components-colors-graph-9-light: #f196d1;
	--sparta-components-colors-graph-9-dark: #966e88;
	--sparta-components-colors-graph-9-greyish: #966e88;
	--sparta-components-colors-graph-9-darker: #790451;
	--sparta-components-colors-graph-10-principal: #2f2bfa;
	--sparta-components-colors-graph-10-light: #a2a0ff;
	--sparta-components-colors-graph-10-dark: #57558e;
	--sparta-components-colors-graph-10-greyish: #57558e;
	--sparta-components-colors-graph-10-darker: #32309f;
	--sparta-components-colors-heatmap-0: #992020;
	--sparta-components-colors-heatmap-1: #ae4519;
	--sparta-components-colors-heatmap-2: #c26913;
	--sparta-components-colors-heatmap-3: #d68b0d;
	--sparta-components-colors-heatmap-4: #f5c203;
	--sparta-components-colors-heatmap-5: #d9c40b;
	--sparta-components-colors-heatmap-6: #abb01a;
	--sparta-components-colors-heatmap-7: #7e9c28;
	--sparta-components-colors-heatmap-8: #528935;
	--sparta-components-colors-heatmap-9: #227444;
	--sparta-components-colors-menu_button-main: #262645;
	--sparta-components-colors-menu_button-hover: #232f5a;
	--sparta-components-colors-menu_button-disabled: #525266;
	--sparta-components-colors-providers-1: #5f7eed;
	--sparta-components-colors-providers-2: #e62e2d;
	--sparta-components-colors-providers-1-hover: #5169be;
	--sparta-components-colors-providers-2-hover: #bb2d2f;
	--sparta-components-colors-ios-light: #ffffff26;
	--sparta-components-colors-ios-dark: #27273f80;
	--sparta-components-colors-ios-main_greyish: #48789d;
	--sparta-components-borders-radius-2: 2px;
	--sparta-components-borders-radius-4: 4px;
	--sparta-components-borders-radius-6: 6px;
	--sparta-components-borders-radius-8: 8px;
	--sparta-components-borders-radius-10: 10px;
	--sparta-components-typography-family: Open Sans, serif;
	--sparta-components-typography-weight-bold: 700;
	--sparta-components-typography-weight-semibold: 600;
	--sparta-components-typography-weight-regular: 400;
	--sparta-components-typography-sizes-h1-fontSize: 34px;
	--sparta-components-typography-sizes-h1-lineHeight: 46px;
	--sparta-components-typography-sizes-h2-fontSize: 28px;
	--sparta-components-typography-sizes-h2-lineHeight: 38px;
	--sparta-components-typography-sizes-h3-fontSize: 22px;
	--sparta-components-typography-sizes-h3-lineHeight: 30px;
	--sparta-components-typography-sizes-h4-fontSize: 18px;
	--sparta-components-typography-sizes-h4-lineHeight: 25px;
	--sparta-components-typography-sizes-body0-fontSize: 16px;
	--sparta-components-typography-sizes-body0-lineHeight: 24px;
	--sparta-components-typography-sizes-body1-fontSize: 14px;
	--sparta-components-typography-sizes-body1-lineHeight: 19px;
	--sparta-components-typography-sizes-body2-fontSize: 12px;
	--sparta-components-typography-sizes-body2-lineHeight: 16px;
	--sparta-components-typography-sizes-body3-fontSize: 11px;
	--sparta-components-typography-sizes-body3-lineHeight: 15px;
	--sparta-components-typography-sizes-body4-fontSize: 10px;
	--sparta-components-typography-sizes-body4-lineHeight: 14px;
	--sparta-components-typography-sizes-body5-fontSize: 9px;
	--sparta-components-typography-sizes-body5-lineHeight: 12px;
	--sparta-components-shadows-5:
		0px 12.8px 28.8px rgba(0, 0, 0, 0.22), 0px 2.4px 7.2px rgba(0, 0, 0, 0.18);
	--sparta-components-spacing-0: 0px;
	--sparta-components-spacing-2: 2px;
	--sparta-components-spacing-4: 4px;
	--sparta-components-spacing-6: 6px;
	--sparta-components-spacing-8: 8px;
	--sparta-components-spacing-12: 12px;
	--sparta-components-spacing-16: 16px;
	--sparta-components-spacing-20: 20px;
	--sparta-components-spacing-24: 24px;
	--sparta-components-spacing-40: 40px;
	--sparta-components-spacing-48: 48px;
	--sparta-components-breakpoints-xs: screen and (min-width: 0px);
	--sparta-components-breakpoints-sm: screen and (min-width: 1024px);
	--sparta-components-breakpoints-md: screen and (min-width: 1200px);
	--sparta-components-breakpoints-lg: screen and (min-width: 1440px);
	--sparta-components-breakpoints-xl: screen and (min-width: 1920px);
	--sparta-components-layers-hidden-min: -1;
	--sparta-components-layers-hidden-max: -1;
	--sparta-components-layers-default-min: 0;
	--sparta-components-layers-default-max: 0;
	--sparta-components-layers-base-min: 1;
	--sparta-components-layers-base-max: 199;
	--sparta-components-layers-dropdown-min: 400;
	--sparta-components-layers-dropdown-max: 499;
	--sparta-components-layers-tooltip-min: 600;
	--sparta-components-layers-tooltip-max: 699;
	--sparta-components-layers-notification-min: 800;
	--sparta-components-layers-notification-max: 899;
	--sparta-components-layers-modal-min: 900;
	--sparta-components-layers-modal-max: 999;
	--sparta-components-layers-extra-min: 9999;
	--sparta-components-layers-extra-max: 9999;
}
